#contenedor{
    width: 75%;
    height: 500px;
    margin: 20px auto;
    border: 1.5px solid rgb(0, 4, 255);
    background-color: rgb(64, 133, 224);
}
h3{
    text-align: center;
    padding: 5px;
}
#resultados{
    width: 50%;
    height: 230px;
    margin: auto;
    padding: 20px;
    font-size: 1.5em;
    background-color: turquoise;
    text-align: center;
}